
<div class="card mb-2 ">
  <div class="card-body position-relative p-2">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{desc}}</p>
    {{#url}}
      <a href="{{url}}" class="btn btn-sm btn-primary mt-2" target="_blank">Ver en Trello</a>
    {{/url}}
   
   <a href="/local/trellosync/update_trellosync.php?id={{courseid}}&cardid={{cardid}}" class="btn btn-sm btn-info mt-2" target="_self">
    Actualizar <i class="fa fa-pencil"></i> 
    </a>
    <a href="/local/trellosync/delete_card.php?id={{courseid}}&cardid={{cardid}}&sesskey={{sesskey}}" class="btn btn-sm btn-secondary mt-2" target="_self">
    Delete <i class="fa fa-trash"></i>
    </a>
    <span>
      <i style="cursor:pointer;" class="fa-solid fa-eraser delete-task-trellosync position-absolute top-0 end-0 mt-3 me-3" data-cardid="{{cardid}}" data-courseid="{{courseid}}" ></i>
    </span>       
  </div>
</div>

