<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">{{#str}} confirmdeletecard, local_trellosync {{/str}}</h4>
</div>

<div class="d-flex gap-2">
    <a href="{{yesurl}}" class="btn btn-info"> {{#str}}yesdelete, local_trellosync {{/str}}</a>
    <a href="{{nourl}}" class="btn btn-secondary"> {{#str}}nocancel, local_trellosync {{/str}}</a>
</div>